/* ADD YOUR STYLES HERE */

body{}
.instructions-container{}
.instruction-list{}
.instruction-title{}
.instruction-text{}

p {
	color: #3C5F99;
}

td {
	font-family: Helvetica;
	font-size: medium;
	padding: 5px 40px;
	padding-bottom: 10px;
}

tr {
	border-bottom: solid;
	border-bottom-width: thin;
	border-color: #CFCFCF;
	text-align: left;
	font-size: medium;

}

tr:last-child {
	border-bottom-style: none;
}

th {
	font-family: Helvetica;
	font-size: medium;
	padding: 5px 40px;
	border-bottom: solid;
	border-bottom-width: thin;
	border-color: #CFCFCF;
	text-align: left;
}

/* 2. Stats */

.stats {
	max-width: ;
}

.stats td {
	border-top: solid;
	border-top-width: thin;
	border-bottom: solid;
	border-bottom-width: thin;
	padding: 15px;
	text-align: center;
}

.stats td div:first-child {
	font-size: xx-large;
	font-weight: bold;
	color: #000000;
}

.stats td div:last-child {
	color: #CFCFCF;
	font-size: small;
}

/* 3. Bar Chart */

.bar-chart {
	width: 100%;
	/*text-align: left;*/
}

.bar-chart th {
	width: 100px;
	padding: 2px;
	border: none;
	/*border removes underline*/
}

.bar-chart td div {
	background-color: #779BDD;
	line-height: 25px;
}

.bar-chart td {
	padding: 1px;
	color: white;
	text-indent: 2px;
	font-size: small;
}

.bar-chart tr {
	border: none;
	padding: 0px;
}
/* last td in bar chart has mystery padding??? Stepping away from this briefly and wanted to backup.*/