/* ADD YOUR STYLES HERE */

body{}
.instructions-container{}
.instruction-list{}
.instruction-title{}
.instruction-text{}

p {
	color: #3C5F99;
}

td {
	font-family: Helvetica;
	font-size: medium;
	padding: 5px 40px;
	padding-bottom: 10px;
}

tr {
	border-bottom: solid;
	border-bottom-width: thin;
	border-color: #CFCFCF;
	text-align: left;
	font-size: medium;

}

tr:last-child {
	border-bottom-style: none;
}

th {
	font-family: Helvetica;
	font-size: medium;
	padding: 5px 40px;
	border-bottom: solid;
	border-bottom-width: thin;
	border-color: #CFCFCF;
	text-align: left;
}

/* 2. Stats */

.stats {
	max-width: ;
}

.stats td {
	border-top: solid;
	border-top-width: thin;
	border-bottom: solid;
	border-bottom-width: thin;
	padding: 15px;
	text-align: center;
}

.stats td div:first-child {
	font-size: xx-large;
	font-weight: bold;
	color: #000000;
}

.stats td div:last-child {
	color: #CFCFCF;
	font-size: small;
}

/* 3. Bar Chart */

.bar-chart {
	width: 100%;
	/*text-align: left;*/
}

.bar-chart th {
	width: 100px;
	padding: 2px;
	border: none;
	/*border removes underline*/
}

.bar-chart td div {
	background-color: #779BDD;
	line-height: 25px;
}

.bar-chart td {
	padding: 1px;
	color: white;
	text-indent: 2px;
	font-size: small;
}

.bar-chart tr {
	border: none;
	padding: 0px;
}

.instruction-answer-lightbox {

}
.outer-content-box {
	position: relative;
	background-color: #595959;
	height: 600px;
	width: 800px;
	z-index: 0;
	display: table;
	vertical-align: center;
}
.inner-content-box {
	position: absolute;
	background-color: #FFFFFF;
	height: 250px;
	width: 400px;
	z-index: 1;
	border-radius: 10px;
	text-align: left;
	color: black;
	font-family: Arial;
	
	margin: 50px;
	border: 50px;
	padding: 50px;

	top: 90px;
	left: 70px;
}

.close-button {
	position: absolute;
	background-color: #D08187;
	height: 40px;
	width: 120px;
	border-radius: 10px;
	color: #FFFFFF;
	text-align: center;
	line-height: 40px;
	
	bottom: 10px;
	right: 10px;
}

/* 4. LIGHTBOX CREATED - revisit section after learning about jQuery */

/* BEGIN 5. MEDIA BLOCK */

.instruction-answer-media p{
	line-height: 18px;
	padding-top: 3px;
}

.instruction-answer-media img:first-child {
	float: left;
	padding-right: 7px;
}

.instruction-answer-media h2 {
	float: left;
	padding-right: 7px;
}

/* Working on section "Does it work with a different html structure?" */
